* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
    box-sizing: border-box;
    margin: 0;
    height: auto;

} */

.herobanner{
    /* background-image: url(imgfolder/jungley.jpg); */
            height: 200px ;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size:100%;
            position: relative;
            top: 0px;
    
    

}

.herotext{
    border:0px;
    padding: 0px;
    text-align: center;
    
    
    color: #D9D7BA;
    position: relative;
    top: -50px;
    left:0;
    bottom: 0;
    right: 0;

}

.logo{
    width: 800px;
    height: 300px;
    position: relative;
}

.navbar{
    float: right;
    text-decoration: none;
    list-style: none; 
    padding-right: 10px;
    padding-top: 5px;
    position: relative; 
     
}

.navhome{
    list-style: none;
    position: sticky;
    padding: 3px;
}

a {
    color: #BDBF75;
    text-decoration: none;
}

a:hover{
    color:#4177A6;
}

.typenav {
    text-decoration: none;
    overflow: auto;
    position: sticky;
    text-align: center;
    padding: 0px;
    border-top: solid #012619 5px;
    border-bottom: solid #012619 5px;
    
}

.catagories {
    background-color: #012619;
    list-style: none;
    flex: auto;
    border: 0;
    float: left;
    width: 11.11111111111111%;
    text-decoration: none;
    color: #142624;
}

.pagecontent1{
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #142624;
    color: #D9D7BA;
    padding: 50px;

}

.subheading{
    text-align: center;
    position: relative ;
    left: ;

}
p {
    width: 900px;
    text-align: center;
    position: relative;
    left: 23%;
    padding: 25px;
}

.footer{
    text-align: center;
    overflow: auto;
    position: relative;
    border-top: solid #012619 5px;
    
}

.footerlist{
    color: #BDBF75;
    float: left;
    width: 33.333333333333333%;
    height: 500px;
}

.black{
    background-color: #142624;
}

.aboutfooter{
    list-style: none;
}

.invisible{
    border: solid #142624 50px;
}


