* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.herobanner{
            height: 200px ;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size:100%;
            position: relative;
            top: 0px;
}

.herotext{
    border:0px;
    padding: 0px;
    text-align: center;
    
    
    color: #D9D7BA;
}

.logo{
    width: 800px;
    height: 300px;
    position: relative;
    bottom: 25px;
    left: 100px;
}

.navbar{
    float: right;
    text-decoration: none;
    list-style: none; 
    padding-right: 10px;
    padding-top: 5px;
    position: relative; 
     
}

.navhome{
    list-style: none;
    display: inline-block;
    right: 10px;
    padding: 3px;
    font-size: 24px;
    margin: 5px;
}

a {
    color: #BDBF75;
    text-decoration: none;
}

a:hover{
    color:#4177A6;
    
    
}

.typenav {
    text-decoration: none;
    overflow: auto;
    position: sticky;
    text-align: center;
    padding: 0px;
    border-top: solid #012619 5px;
    border-bottom: solid #012619 5px;
    
}

.catagories {
    background-color: #012619;
    list-style: none;
    flex: auto;
    border: 0;
    float: left;
    width: 11.11111111111111%;
    text-decoration: none;
    font-size: 24px;
}


.pagecontent1{
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #142624;
    color:#BDBF75 ;
    padding: 50px;

}

.subheading{
    text-align: center;
    position: relative ;
    font-size: 48px;
    padding: 10px;

}

.forminput{
    background-color: #D9D7BA;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}

label{
    display: block;
}

.submitform{
    background-color: #D9D7BA ;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s;
}


button:hover{
    background-color: #4177A6;
}

p {
    width: 80ch;
    text-align: center;
    position: relative;
    left: 25%;
    padding: 25px;}

.paragraph {
    font-size: 20px;
    text-align: justify;
}

    

.footer{
    text-align: center;
    overflow: auto;
    position: relative;
    /* bottom: 210px; */
    border-top: solid #012619 5px;
    
}

.footerlist{
    color: #BDBF75;
    float: left;
    width: 33.333333333333333%;
    height: 1000px;
    padding: 10px;
    font-size: 18px;
}

.black{
    background-color: #142624;
}

.aboutfooter{
    list-style: none;
}

.invisible{
    border: solid #142624 50px;
}
