* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
    box-sizing: border-box;
    margin: 0;
    height: auto;

} */

.herobanner{
    /* background-image: url(imgfolder/jungley.jpg); */
            height: 200px ;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size:100%;
            position: relative;
            top: 0px;
    
    

}

.herotext{
    border:0px;
    padding: 0px;
    text-align: center
    top:45%;
    left: 45%;
    color: white;
    position: relative;
    
    
}

.navbar{
    float: right;
    text-decoration: none;
    list-style: none; 
    padding-right: 10px;
    padding-top: 5px;
    position: relative; 
     
}

.navhome{
    list-style: none;
    position: sticky;
}

a {
    color: greenyellow;
    text-decoration: none;
}

a:hover{
    color:green;
}

.typenav {
    text-decoration: none;
    overflow: auto;
    position: sticky;
    text-align: center;
    
}

.catagories {
    background-color: black;
    list-style: none;
    flex: auto;
    border: 0;
    float: left;
    width: 11.11111111111111%;
    text-decoration: none;
    color: black;
}
.pagecontent{
    text-align:center;
    padding: 5px;
    
}

.subheading{
    padding: 5px;
    border:solid black 5px;
    
}

.paragraph{
    padding: 5px;
    border:solid black 5px;

}

.footer{
    text-align: center;
    margin-top: ;
    
}

.footerlist{
    color: white;
    float: left;
    width: 33.333333333333333%;
    height: 500px;
}

.black{
    background-color: black;
}

.aboutfooter{
    list-style: none;
}

.invisible{
    border: solid black 50px;
}

.demo{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    
}
.leftside{
    background-color:black;
    float: left;
    width: 20%;
    
    /* flex-basis: 33%; */
}

.middle{
    background-color: black;
    width: 60%;
    /* flex-basis: 33%; */
    color: white;
}

.rightside{
    
    background-color: black;
    width:20%;
    float:right;
    /* flex-basis: 33%; */
}
