* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
    box-sizing: border-box;
    margin: 0;
    height: auto;

} */

.herobanner{
    /* background-image: url(imgfolder/jungley.jpg); */
            height: 200px ;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size:100%;
            position: relative;
            top: 0px;
    
    

}

.herotext{
    border:0px;
    padding: 0px;
    text-align: center;
    /* top:35%; */
    left: 30%;
    color: #D9D7BA;
    position: absolute;
}

.logo{
    width: 600px;
    height: 250px;
}

.navbar{
    float: right;
    text-decoration: none;
    list-style: none; 
    padding-right: 10px;
    padding-top: 5px;
    position: relative; 
     
}

.navhome{
    list-style: none;
    position: sticky;
}

a {
    color: #BDBF75;
    text-decoration: none;
}

a:hover{
    color:#4177A6;
}

.typenav {
    text-decoration: none;
    overflow: auto;
    position: sticky;
    text-align: center;
    
}

.catagories {
    background-color: #142624;
    list-style: none;
    flex: auto;
    border: 0;
    float: left;
    width: 11.11111111111111%;
    text-decoration: none;
    color: #142624;
}

/* .pagecontent{
    text-align:center;
    padding: 5px;
    
} */
.demo{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    
}
.leftside{
    background-color:#142624;
    float: left;
    width: 20%;
    
    /* flex-basis: 33%; */
}

.middle{
    background-color:#142624 ;
    width: 60%;
    /* flex-basis: 33%; */
    color: #D9D7BA;
}

.rightside{
    
    background-color:#142624;
    width:20%;
    float:right;
    /* flex-basis: 33%; */
}

.subheading{
    padding: 5px;
    border:solid #142624 5px;
    
}

.paragraph{
    padding: 5px;
    border:solid #142624 5px;

}

.footer{
    text-align: center;
    margin-top: ;
    
}

.footerlist{
    color: #BDBF75;
    float: left;
    width: 33.333333333333333%;
    height: 500px;
}

.black{
    background-color: #142624;
}

.aboutfooter{
    list-style: none;
}

.invisible{
    border: solid #142624 50px;
}


